@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SFProDisplay-Medium.woff2') format('woff2'),
    url('../font/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SFProDisplay-Semibold.woff2') format('woff2'),
    url('../font/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SFProDisplay-Regular.woff2') format('woff2'),
    url('../font/SFProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Regular.woff2') format('woff2'),
    url('../font/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  background-color: #f3f3f3;
  font-size: 15px;
  line-height: 1.4;
  color: #0a1441;
  background-image: url(../img/chernyy-seryj_cvet.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}